# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Local settings
.vscode/
.idea/
# *.onnx  <-- 배포를 위해 허용함
# *.weights.bin <-- 배포를 위해 허용함

